
<% team_comments.each do |team_comment| %>
  <tr>
    <td>
      <%= link_to user_path(team_comment.user), class: "user_#{team_comment.user.id}" do %>
        <%= attachment_image_tag team_comment.user, :profile_image, :fill, 50, 50 %><br>
        <%= team_comment.user.name %>
      <% end %>
    </td>
    <td><%= team_comment.comment %></td>
    <% if team_comment.user == current_user %>
      <td><%= link_to 'Destroy', team_team_comment_path(team.id, team_comment.id), method: :delete, remote: false %></td>
    <% end %>
  </tr>
  <td>
        <% if team_comment.favorited_by?(current_user) %>
          <% favorite = team_comment.favorites.find_by(user_id: current_user.id) %>
          <%= link_to destroy_comment_fav_team_team_comment_favorites_path(team,team_comment, redirect_id: 2), method: :delete do %>
            <span class="glyphicon glyphicon-heart"><%= team_comment.favorites.count%></span>
          <% end %>
        <% else %>

          <%= link_to create_comment_fav_team_team_comment_favorites_path(team,team_comment, redirect_id: 2), method: :post do %>
            <span class="glyphicon glyphicon-heart-empty"><%= team_comment.favorites.count %></span>
          <% end %>
        <% end %>
  </td>
<% end %>

<div class="comment-form">
     <%= form_for [team, team.team_comments.new] do |f| %>
     <%= f.text_area :comment, size: "90*5" %>
     <%= f.submit '送信' %>
     <% end %>
</div>




  