
<td><%= attachment_image_tag team, :image, :fill, 100, 100 %></td>
<td><%= link_to team.name,team, class: "team_#{team.id}" %></td>
<td><%= team.body %></td>


<% if team.user == current_user %>
  <td><%= link_to 'Edit', edit_team_path(team), class: "btn-sm btn-success edit_team_#{team.id}" %></td>
  <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_team_#{team.id}"%></td>
<% end %>