<div class='row'>
  <div class='col-xs-3'>
    <h2>New Team</h2>

    <%= render 'form', team: Team.new %>
  </div>
  

  <div class='col-xs-9'>
    <h2>Team detail</h2>
    <table class='table'>
     <tr class="team_<%= @team.id %>"></tr>
     <%= render 'teams/detail', team: @team %>
   </table>

   <table class="show-tb comment_<%= @team.id %>">
    
      <%= render 'teams/comment', team_comments: @team_comments, team: @team %>
   </table>

