  <div class="row">
    <div class='col-xs-3'>
      image
    </div>
    <div class='col-xs-3'>
      team_name
    </div>
    <div class='col-xs-3'>
      description
    </div>
    <div class='col-xs-3'>
      favorites
    </div>
  </div>
  <div style="border-bottom: 5px solid red;"></div>
  <% teams.each do |team| %>
   <div class="row" style="margin-bottom:30px;">
    <div class='col-xs-3'>
      <%= attachment_image_tag team, :image, :fill, 100, 100 %>
    </div>
    <div class='col-xs-3'>
      <%= link_to team.name,team, class: "team_#{team.id}" %>
    </div>
    <div class='col-xs-3'>
      <%= team.body %>
    </div>
    <div class='col-xs-3'>
      <% if team.favorited_by?(current_user) %>
        <% favorite = team.favorites.find_by(user_id: current_user.id) %>
        <%#= link_to team_favorite_path(team, team.favorite_id, redirect_id: 0), method: :delete do %>
        <%= link_to team_fav_delete_path(favorite_id: favorite.id) do %>
        <span class="glyphicon glyphicon-heart"><%= team.favorites.count%></span>
        <% end %>
      <% else %>
        <%= link_to team_favorites_path(team, redirect_id: 0), method: :post do %>
          <span class="glyphicon glyphicon-heart-empty"><%= team.favorites.count %></span>
        <% end %>
      <% end %>
    </div>  
   </div>
  <% end %>
  <%#= paginate teams %>
