<div class="header">
	<div class="container">
		<div class="row header_content">
			<div class="col-xs-2">
				<%= link_to root_path do %>
				<%= image_tag 'squad.jpg', :size =>'200x100' %>
				<% end %>
			</div>
		<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<table class="table header_table">
					<tr>

						<td>ようこそ、<%= current_user.name %>さん！</td>
						<td><%#= link_to edit_user_path do %>
  							<span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
						<%# end %>
						<td><%= link_to new_team_path do %>
							<span class="btn btn-primary">＋</span></td>
						<% end %>
						<td><%= link_to "マイページ", user_path(current_user.id), class: "btn btn-default" %></td>
						<td><%= link_to "ユーザー一覧", users_path, class: "btn btn-default" %></td>
						<td><%= link_to "スカッド", teams_path, class: "btn btn-default" %></td>
						<td><%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "btn btn-default" %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

